*{
    margin: 0;
    padding: 0;
}

.container {
    background-color: blueviolet;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: center;
    padding: 25px;
    margin: 25px;
      
}

.header {
    background-color: rgb(226, 43, 98);
    height: 40px;
    align-self: center;
    padding: 25px;
    margin: 25px;
    
}
.section {
    background-color: rgb(0, 255, 42);
    padding: 25px;
    margin: 25px;
    height:80px;
    width: 200px;
    float: left;

}
.nav {
    background-color: yellow;
    padding: 25px;
}

.aside {
    background-color: violet;
    padding: 25px;
    margin: 25px;
    height:80px;
    width: 200px;
    float: right;
}

.footer {
    clear: both;
    background-color: turquoise;
    padding: 25px;

}